body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98b0ff;
    min-height: 100vh;
}
form{
    background-color: #d8fcfa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px dashed #00bef8;
}
textarea{
    height: 120px;
}
button{
    background-color: rgb(97, 122, 206);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(60, 57, 250);
}